/*========================================
            BANNER PART STYLE
=========================================*/
.banner-overlay {
  padding: 175px 0px 95px;
  background-color: rgba(255, 255, 255, 0.8);
}

.banner-content {
  margin-right: 30px;
  position: relative;
}
.banner-content img {
  -webkit-animation: fly 5s linear infinite;
          animation: fly 5s linear infinite;
  position: absolute;
  top: -50px;
  left: 50px;
}
.banner-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}
.banner-content h1 span {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p {
  margin-bottom: 45px;
}
.banner-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25px;
}

.banner-image img {
  width: 100%;
  -webkit-animation: miron 5s linear infinite;
          animation: miron 5s linear infinite;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 150px;
    top: -120px;
  }
  50% {
    -webkit-transform: rotateX(-50deg);
            transform: rotateX(-50deg);
    left: 50px;
    top: -50px;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 150px;
    top: -120px;
  }
}

@keyframes fly {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 150px;
    top: -120px;
  }
  50% {
    -webkit-transform: rotateX(-50deg);
            transform: rotateX(-50deg);
    left: 50px;
    top: -50px;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 150px;
    top: -120px;
  }
}
@-webkit-keyframes miron {
  0% {
    -webkit-transform: translateY(20px) rotateY(-25deg);
            transform: translateY(20px) rotateY(-25deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotateY(-10deg);
            transform: translateY(-20px) rotateY(-10deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateY(-25deg);
            transform: translateY(20px) rotateY(-25deg);
  }
}
@keyframes miron {
  0% {
    -webkit-transform: translateY(20px) rotateY(-25deg);
            transform: translateY(20px) rotateY(-25deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotateY(-10deg);
            transform: translateY(-20px) rotateY(-10deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateY(-25deg);
            transform: translateY(20px) rotateY(-25deg);
  }
}
@media (max-width: 991px) {
  .banner-content {
    text-align: center;
    margin-right: 0px;
  }
  .banner-image {
    display: none;
  }
}
@media (max-width: 575px) {
  .banner-overlay {
    padding: 120px 0px 65px;
  }
  .banner-content h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .banner-content div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .banner-overlay {
    padding: 135px 0px 80px;
  }
  .banner-content h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .banner-content div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-content h1 {
    font-size: 42px;
    line-height: 52px;
  }
}