.blog-card {
    &:hover {
        .blog-media img {
            transform: scale(1.1);
        }
    }
}

.blog-media {
    margin-bottom: 15px;
    overflow: hidden;
    
    img {
        width: 100%;
        @include cursor__transition;
    }
}

.blog-content {
    padding: 0px 10px;
}

.blog-content-meta {
    @include flex__center__start;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 30px;
    margin-bottom: 10px;

    li {
        display: flex;
        align-items: center;
        gap: 6px;

        i {
            color: var(--primary);
            font-size: 14px;
        }

        a,
        span {
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
            text-transform: uppercase;
        }

        a {
            color: var(--text);
            @include cursor__transition;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.blog-content-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin-bottom: 15px;

    a {
        color: var(--heading);
        @include cursor__transition;

        &:hover {
            color: var(--primary);
        }
    }
}

.blog-content-text {
    margin-bottom: 15px;
}

.blog-content-link {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    @include cursor__transition;

    &:hover {
        gap: 8px;
        text-decoration: underline;
    }
}

//========================================
//      RESPONIVE BLOG CRAD STYLE
//========================================
@media (max-width: 575px) {
    .blog-card {
        width: 296px;
    }

    .blog-content {
        margin: 0px;

        ul {
            li {
                margin-right: 20px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .blog-card {
        width: 320px;
    }
}