.call2action-overlay {
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.7);

    .row {
        align-items: center;
    }

    .section-heading {
        margin-left: 30px;
        margin-bottom: 0px;
    }
}

.call2action-image {
    img {
        width: auto;
    }
}
