



/*-----------------------------
        FOOTER LAYOUT
------------------------------*/ 
.footer-part {
    padding: 100px 0px 0px;
    background: var(--dark);
}

.footer-brand {
    a {
        img {
            height: 45px;
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 16px;
        color: var(--light);
        margin-bottom: 20px;
    }

    ul {
        li {
            font-size: 15px;
            color: var(--light);

            span {
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
}

.footer-devider {
    margin-bottom: 55px;
    padding-bottom: 45px;
    border-bottom: 1px solid var(--primary-deep);
}

.footer-widget {
    h5 {
        font-weight: 600;
        color: var(--chalk);
        margin-bottom: 15px;
        padding-bottom: 15px;
        position: relative;
        text-transform: uppercase;
        border-bottom: 1px solid var(--primary-deep);

        &::before {
            position: absolute;
            content: "";
            bottom: -1px;
            left: 0px;
            width: 50px;
            height: 2px;
            background: var(--primary);
        }
    }

    ul {
        li {
            margin: 10px 0px;

            a {
                font-size: 15px;
                padding-left: 18px;
                color: var(--light);
                position: relative;
                text-transform: capitalize;
                @include cursor__transition;

                &::before {
                    position: absolute;
                    content: "\f111";
                    top: 52%;
                    left: 0px;
                    font-size: 6px;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    line-height: 6px;
                    color: var(--light);
                    transform: translateY(-50%);
                    @include cursor__transition;
                }

                &:hover {
                    color: var(--white);

                    &::before {
                        color: var(--white);
                    }
                }
            }
        }
    }
}

.footer-action {
    .action-title {
        margin-bottom: 25px;
        @include flex__center__start;
    
        i {
            font-size: 16px;
            margin-right: 10px;
            color: var(--bs-teal);
        }
    
        span {
            color: var(--chalk);
            text-transform: capitalize;
        }
    }

    .action-badge {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    
        img {
            height: 60px;
        }
    }

    .action-card {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    
        img {
            width: 60px;
        }
    }

    .action-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        li {
            a {
                width: 50px;
                height: 50px;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
                color: var(--chalk);
                background: var(--primary);
                @include cursor__transition;
    
                &:hover {
                    color: var(--primary);
                    background: var(--chalk);
                }
            }
        }
    }
}

.footer-bottom {
    margin-top: 60px;
    padding: 15px 0px;
    background: #0d0633;

    p {
        font-size: 16px;
        color: var(--light);
        text-transform: capitalize;

        a {
            color: var(--primary-light);
            @include cursor__transition;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


//========================================
//         RESPONIVE FOOTER STYLE
//========================================
@media (max-width: 991px) {
    .footer-brand {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-widget {
        margin-bottom: 30px;
    }
    
    .footer-devider {
        margin-bottom: 40px;
        padding-bottom: 10px;
    }

    .footer-action {
        margin-bottom: 50px;

        .action-title {
            margin-bottom: 15px;
        }
    }

    .footer-bottom {
        position: relative;
        margin-top: 0px;

        p {
            font-size: 15px;
        }
    }
}

@media (max-width: 575px) {
    .footer-part {
        padding: 60px 0px 0px;
    }

    .footer-action {
        .action-list {
            li {
                a {
                    width: 42px;
                    height: 42px;
                    font-size: 14px;
                    line-height: 42px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer-part {
        padding: 80px 0px 0px;
    }
    
    .footer-action {
        .action-badge {
            img {
                height: 50px;
            }
        }

        .action-card {
            img {
                width: 48px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-action {
        .action-list {
            li {
                a {
                    width: 42px; 
                    height: 42px;
                    font-size: 14px;
                    line-height: 42px;
                }
            }
        }
    }
}